.box {
    list-style-type: none;
    border-radius: 6px;
    padding: 15px;
    background-color: var(--secondary-colour);
    color: var(--light-colour);
    width: 40%;
    text-align: center;
    margin: 15px auto 30px auto;
}

.button_basic {
    border: 4px solid var(--primary-colour);
}

.button_basic[disabled] {
    background-color: var(--light-colour);
    color: var(--dark-colour);
    border: 4px solid var(--primary-colour);
}

@media screen and (max-width: 600px) {
    .box {
        width: 90%;
    }
}